<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar datos del administrador -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Administrador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Nombre:</ion-label>
        <ion-text>Jose Fernandez</ion-text> <!-- Cambia "Admin" por el nombre del administrador -->
      </ion-item>
      <ion-item lines="none">
        <ion-label>Correo :</ion-label>
        <ion-text>josef@profesor.duoc.cl</ion-text> <!-- Cambia "admin@example.com" por el correo del administrador -->
      </ion-item>
      <ion-item lines="none">
        <ion-label>Rol:</ion-label>
        <ion-text>Profesor</ion-text> <!-- Define el rol del administrador, por ejemplo "Admin" -->
      </ion-item>
    </ion-card-content>
  </ion-card>

 
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">

  </ion-toolbar>
</ion-footer>
