<ion-content style="background: rgba(0, 0, 0, 0.5);">
  <ion-card style="background: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
    <ion-card-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>Bienvenido</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <p>¡Hola, {{ nombreDeUsuario }}! te damos la bienvenida, ahora podras registrar asistecia de una nueva forma. </p>
    </ion-card-content>
  </ion-card>
</ion-content>
